* {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #222;
  overflow: hidden;
}

#quiz {
  display: none;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  width: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.footer-heading {
  margin: 0;
  padding: 0;
  max-width: 50%;
}

.footer-description {
  margin: 0;
  padding: 0;
  max-width: 50%;
  text-align: left;
}

.footer-paragraph {
  margin: 0;
  padding: 0;
  max-width: 50%;
}
